extends layout

block content
  article.title.slide
    div.next
    p
      a(href='/').title= locals.name
      span.description Curated by 
        a(href='http://justinjaywang.com') Justin
  - var posts = _.chain(contents['posts']._.pages).sortBy(function(item) {
  -   return -item.date
  - }).value()
  each post in posts
    include partials/post
